@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&display=swap");

body {
  margin: 0;
  padding: 0;
  border: none;
}

nav a {
  display: block;
  margin: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
  transition: 0.3s;
}

nav a:hover {
  font-size: 30px;
  margin: none;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
}

@media all and (max-width: 600px) {
  nav {
    justify-content: space-evenly;
  }
}

footer {
  text-align: center;
  margin-top: 20px;
  display: block;
}

.head {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(106, 1, 1);
  text-shadow: 3px 3px 1px #000000;
  color: white;
  height: 160px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.wrapper > * {
  flex: 1 100%;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

.child {
  width: 100px; /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto; /* Magic! */
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.formularz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: white;
  width: fit-content;
  padding: 10px;
}

.formularz input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  justify-content: center;
}

.formularz input[type="text"] {
  width: 98%;
  box-sizing: border-box;
}

.formularz label {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}

.formularz select {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  justify-content: center;
}

.formularz input[type="submit"] {
  margin: 10px;
  padding: 10px 20px;
  border-radius: px;
  border: 1px solid gray;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formularz input[type="submit"]:hover {
  background-color: rgb(94, 94, 94);
  color: white;
}
.formularz textarea {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  justify-content: center;
}

.formularz input:focus {
  outline: none;
  border: 2px solid rgb(18, 0, 118);
}
